name: CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: ls
      run: ls -la
    - uses: actions/checkout@v3
    - name: ls
      run: ls -la

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
      
    - name: Fetch modules for go
      run: go mod download

    - name: Build
      run: go build -v ./...

    - name: Run test
      run: go test -v ./...

    - name: Docker build
      run: docker build -t hizrali/go_sample:0.1 .
    
    - name: ls
      run: ls -la
