name: CD

on:
  schedule:
    - cron: '5 * * * *'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Input tags version for publish to Docker'
        required: true
        default: latest
        type: string
      skip-test:
        description: 'Skip test'
        required: true
        default: false
        type: boolean
      skip-build:
        description: 'Skip build'
        required: true
        default: false
        type: boolean

jobs:

  publish:
    runs-on: ubuntu-latest
    steps:
    - name: ls
      run: ls -la
    - uses: actions/checkout@v3
    - name: ls
      run: ls -la

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
      
    - name: Fetch modules for go
      run: go mod download

    - name: Build
      if: github.event.inputs.skip-build == 'false'
      run: go build -v ./...

    - name: Run test
      if: github.event.inputs.skip-test == 'false'
      run: go test -v ./...

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: hizrali/go-app:${{ github.event.inputs.tag }}

    - name: List Docker images
      run: docker images
